/* src/index.css */

/* Original Styles */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays above other content */
  background-color: rgb(156, 170, 233);
}

.container-fluid {
  padding: 0 1rem; /* Adjust as needed for padding */
}

.Heading {
  font-size: 25px;
  font-weight: 700;
  font-family: 'Merriweather', serif;
  color: #4f06ad;
}

.nav-item {
  margin-left: 40px;
  font-weight: 800;
}

/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.topItemtext {
  font-family: 'Merriweather', serif;
  color: rgb(1, 10, 27); /* Change the link color to white */
  font-weight: 800;
  padding: 0 1rem;
  font-size: 20px;
}

.topItemtext:hover {
  color: #313eba;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }
  
  .nav-item {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .button-29 {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  .Heading {
    font-size: 20px;
  }

  .topItemtext {
    font-size: 16px;
    padding: 0.5rem;
  }

  .button-29 {
    font-size: 16px;
    height: 40px;
  }
}
